<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Portal TTalks</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li><a href="http://localhost:8080/TF2/inbox.html">Home</a></li>
				<li class="active"><a href="http://localhost:8080/TF2/events.html">Eventos</a></li>
				<li><a href="http://localhost:8080/TF2/config.html">Configurações</a></li>
			</ul>
			<h3 class="text-muted">Portal TTalks</h3>
		</div>
		<div class="container">
			<h1>Eventos</h1>
			<hr />
			<div class="page"></div>
		</div>
		<div class="footer">
			<p>&copy; Portal TTalks 2013</p>
		</div>

	</div>







	<script src="js/jquery.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone-min.js"></script>


	<script type="text/template" id="event-list-template">
    <a href="#/new" class="btn btn-primary">New</a>
    <hr />
    <table class="table striped">
      <thead>
        <tr>
          <th>Titulo</th><th>Edição</th><th>Data</th><th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(events, function(event) { %>
          <tr>
            <td><%= htmlEncode(event.get('title')) %></td>
            <td><%= htmlEncode(event.get('edition')) %></td>
            <td><%= htmlEncode(event.get('date')) %></td>
            <td><a class="btn" href="#/edit/<%= event.id %>">Edit</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

	<script type="text/template" id="edit-event-template">
    <form class="edit-event-form">
      <legend><%= event ? 'Editar' : 'Novo' %> Evento</legend>

        <label>Titulo</label>
        <input name="title" type="text" value="<%= event ? event.get('title') : '' %>">
        <label>Edição</label>
        <input name="edition" type="text" value="<%= event ? event.get('edition') : '' %>">
		<label>Data</label>
        <input name="date" type="text" value="<%= event ? event.get('date') : '' %>">
        <hr />
       <button type="submit" class="btn"><%= event ? 'Atualizar' : 'Salvar' %></button>
       <% if(event) { %>
        <input type="hidden" name="id" value="<%= event.id %>" />
       <button data-event-id="<%= event.id %>" class="btn btn-danger delete">Deletar</button>
       <% }; %>
    </form>
  </script>

	<script>
    function htmlEncode(value) {
      return $('<div/>').text(value).html();
    }
    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
        if (o[this.name] !== undefined) {
          if (!o[this.name].push) {
            o[this.name] = [ o[this.name] ];
          }
          o[this.name].push(this.value || '');
        } else {
          o[this.name] = this.value || '';
        }
      });
      return o;
    };

    var Events = Backbone.Collection.extend({
      url : 'rest/events'
    });

    var Event = Backbone.Model.extend({
      urlRoot : 'rest/events'
    });

    var EventListView = Backbone.View.extend({
      el : '.page',
      render : function() {
        var that = this;
        var events = new Events();
        events.fetch({
          success : function(events) {

            var template = _.template($('#event-list-template').html(), {
              events : events.models
            });
            that.$el.html(template);
          }
        })
      }
    });

    var eventListView = new EventListView();

    var EventEditView = Backbone.View.extend({
      el : '.page',
      events : {
        'submit .edit-event-form' : 'saveEvent',
        'click .delete' : 'deleteEvent'
      },
      saveEvent : function(ev) {
        var eventDetails = $(ev.currentTarget).serializeObject();
        var event = new Event();
        console.log(eventDetails);
        event.save(eventDetails, {
          success : function(event) {
            router.navigate('', {
              trigger : true
            });
          }
        });
        return false;
      },
      deleteEvent : function(ev) {
        this.event.destroy({
          success : function() {
            console.log('destroyed');
            router.navigate('', {
              trigger : true
            });
          }
        })
      },
      render : function(options) {
        var that = this;
        if (options.id) {
          that.event = new Event({
            id : options.id
          });
          that.event.fetch({
            success : function(event) {
              var template = _.template($('#edit-event-template').html(), {
                event : event
              });
              that.$el.html(template);
            }
          })
        } else {
          var template = _.template($('#edit-event-template').html(), {
            event : null
          });
          that.$el.html(template);
        }
      }
    });

    var eventEditView = new EventEditView();

    var Router = Backbone.Router.extend({
      routes : {
        "" : "home",
        "edit/:id" : "edit",
        "new" : "edit",
      }
    });

    var router = new Router;
    router.on('route:home', function() {
      // render event list
      eventListView.render();
    })
    router.on('route:edit', function(id) {
      eventEditView.render({
        id : id
      });
    })
    Backbone.history.start();
  </script>

</body>
</html>

